body {
    background-color: #ffffff;
    font-size: 1.125em;  /* 18px / 16px */
    font-family: 'Special Elite', cursive;
    text-align: center;
}

input, textarea {
    padding: 10px 15px;
    margin: 10px;
    color: #000000;
    background-color: #ffffff;
    font-size: 0.875em;  /* 14px / 16px */
    font-family: 'Special Elite', cursive;
    border: none;
    border-bottom: 1px solid #000000;
}

input[type="button"] {
    padding: 10px 15px;
    margin: 30px;
    color: #ffffff;
    background-color: #000000;
    font-size: 0.875em;  /* 14px / 16px */
    border: none;
    cursor: pointer;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.balloon {
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 5px;
    position: absolute;
    bottom: 101%;
    left: 44%;
    margin-left: -60px;
}

.balloon:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 90px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.show {
    color: #d3d5d0;
}

.errors {
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.errors div {
    width: 220px;
    margin-top: 4px;
    padding: 2px 4px;
    border: 1px solid #181818;
    border-radius: 5px;
    color: red;
    font-size: 0.55em;
}

.disappear {
    display: none;
}

.animate {
    animation: move 60s linear 3s;
}

@keyframes move {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(555px); opacity: 0; }
}